src/schema/planning.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.1">

  <!-- ══════════════════════════════════════════════════════════════════
       GEDEELDE TYPES
  ══════════════════════════════════════════════════════════════════ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BelgianVatNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BE[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SessionStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="cancelled"/>
      <xs:enumeration value="full"/>
      <xs:enumeration value="concept"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SyncStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="synced"/>
      <xs:enumeration value="pending"/>
      <xs:enumeration value="failed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ChangeTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TITLE_CHANGED"/>
      <xs:enumeration value="LOCATION_CHANGED"/>
      <xs:enumeration value="TIME_CHANGED"/>
      <xs:enumeration value="CAPACITY_CHANGED"/>
      <xs:enumeration value="SPEAKER_CHANGED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ErrorTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VALIDATION_ERROR"/>
      <xs:enumeration value="OUTLOOK_SYNC_FAILED"/>
      <xs:enumeration value="DATABASE_ERROR"/>
      <xs:enumeration value="RABBITMQ_ERROR"/>
      <xs:enumeration value="CONFLICT_ERROR"/>
      <xs:enumeration value="NOT_FOUND"/>
      <xs:enumeration value="IDEMPOTENCY_VIOLATION"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HeartbeatStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="healthy"/>
      <xs:enumeration value="degraded"/>
      <xs:enumeration value="unhealthy"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PositiveIntType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Herbruikbaar type voor lijst van deelnemers -->
  <xs:complexType name="DeelnemersType">
    <xs:sequence>
      <xs:element name="crmMasterId" type="UUIDType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → FRONTEND / CONTROL ROOM
       Contract 3  — planning.session.created  → Frontend
       Contract 12 — planning.session.created  → Control Room
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"  type="UUIDType"/>
        <xs:element name="title"      type="xs:string"/>
        <xs:element name="date"       type="xs:date"/>
        <xs:element name="startTime"  type="xs:time"/>
        <xs:element name="endTime"    type="xs:time"/>
        <xs:element name="location"   type="xs:string"/>
        <xs:element name="status"     type="SessionStatusType"/>
        <xs:element name="capacity"   type="PositiveIntType"/>
        <xs:element name="timestamp"  type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → CRM / FRONTEND / MAILING
       Contract 1  — planning.session.updated → CRM
       Contract 4  — planning.session.updated → Frontend
       Contract 8  — planning.session.updated → Mailing
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"              type="UUIDType"/>
        <xs:element name="changeType"             type="ChangeTypeType"/>
        <xs:element name="newTime"                type="ISO8601DateTimeType" minOccurs="0"/>
        <xs:element name="newLocation"            type="xs:string"           minOccurs="0"/>
        <xs:element name="newTitle"               type="xs:string"           minOccurs="0"/>
        <xs:element name="newCapacity"            type="PositiveIntType"     minOccurs="0"/>
        <xs:element name="ingeschrevenDeelnemers" type="DeelnemersType"      minOccurs="0"/>
        <xs:element name="timestamp"              type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → FRONTEND / MAILING / CONTROL ROOM
       Contract 5  — planning.session.cancelled → Frontend
       Contract 9  — planning.session.cancelled → Mailing
       Contract 13 — planning.session.cancelled → Control Room
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionCancelled">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"              type="UUIDType"/>
        <xs:element name="status"                 type="SessionStatusType"/>
        <xs:element name="reason"                 type="xs:string"      minOccurs="0"/>
        <xs:element name="ingeschrevenDeelnemers" type="DeelnemersType" minOccurs="0"/>
        <xs:element name="timestamp"              type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → FRONTEND / MAILING
       Contract 6  — planning.session.rescheduled → Frontend
       Contract 10 — planning.session.rescheduled → Mailing
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionRescheduled">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"              type="UUIDType"/>
        <xs:element name="oldDate"                type="xs:date"/>
        <xs:element name="oldStartTime"           type="xs:time"/>
        <xs:element name="oldEndTime"             type="xs:time"/>
        <xs:element name="newDate"                type="xs:date"/>
        <xs:element name="newStartTime"           type="xs:time"/>
        <xs:element name="newEndTime"             type="xs:time"/>
        <xs:element name="newLocation"            type="xs:string"      minOccurs="0"/>
        <xs:element name="reason"                 type="xs:string"      minOccurs="0"/>
        <xs:element name="ingeschrevenDeelnemers" type="DeelnemersType" minOccurs="0"/>
        <xs:element name="timestamp"              type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → FRONTEND / MAILING / CONTROL ROOM
       Contract 7  — planning.session.full → Frontend
       Contract 11 — planning.session.full → Mailing
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"            type="UUIDType"/>
        <xs:element name="currentRegistrations" type="xs:nonNegativeInteger"/>
        <xs:element name="capacity"             type="PositiveIntType"/>
        <xs:element name="crmMasterId"          type="UUIDType"           minOccurs="0"/>
        <xs:element name="timestamp"            type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → CONTROL ROOM
       Contract 15 — planning.session.error → Control Room
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionError">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorType"  type="ErrorTypeType"/>
        <xs:element name="message"    type="xs:string"/>
        <xs:element name="sessionId"  type="UUIDType"           minOccurs="0"/>
        <xs:element name="service"    type="xs:string"/>
        <xs:element name="timestamp"  type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → CONTROL ROOM
       Contract 2 — planning.heartbeat → Control Room
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId"   type="xs:string"/>
        <xs:element name="timestamp"   type="ISO8601DateTimeType"/>
        <xs:element name="status"      type="HeartbeatStatusType"/>
        <xs:element name="dbOk"        type="xs:boolean"/>
        <xs:element name="rabbitmqOk"  type="xs:boolean"/>
        <xs:element name="outlookOk"   type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → CONTROL ROOM
       Contract 14 — planning.participant.registered → Control Room
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="ParticipantRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"             type="UUIDType"/>
        <xs:element name="crmMasterId"           type="UUIDType"/>
        <xs:element name="currentRegistrations"  type="xs:nonNegativeInteger"/>
        <xs:element name="capacity"              type="PositiveIntType"/>
        <xs:element name="registrationTime"      type="ISO8601DateTimeType"/>
        <xs:element name="timestamp"             type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       CRM → PLANNING
       Contract 16 — crm.user.confirmed → Planning
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="UserConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"           minOccurs="0"/>
        <xs:element name="role"        type="UserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"            minOccurs="0"/>
        <xs:element name="badgeCode"   type="xs:string"           minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       CRM → PLANNING
       Contract 17 — crm.user.updated → Planning
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="UserUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"           minOccurs="0"/>
        <xs:element name="role"        type="UserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"            minOccurs="0"/>
        <xs:element name="badgeCode"   type="xs:string"           minOccurs="0"/>
        <xs:element name="street"      type="xs:string"           minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"           minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"           minOccurs="0"/>
        <xs:element name="city"        type="xs:string"           minOccurs="0"/>
        <xs:element name="country"     type="xs:string"           minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       CRM → PLANNING
       Contract 18 — crm.user.deactivated → Planning
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="UserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       CRM → PLANNING
       Contract 19 — crm.company.confirmed → Planning
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="CompanyConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       CRM → PLANNING
       Contract 20 — crm.company.updated → Planning
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="CompanyUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"           minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"           minOccurs="0"/>
        <xs:element name="street"      type="xs:string"           minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"           minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"           minOccurs="0"/>
        <xs:element name="city"        type="xs:string"           minOccurs="0"/>
        <xs:element name="country"     type="xs:string"           minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       CRM → PLANNING
       Contract 23 — crm.company.deactivated → Planning
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="CompanyDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="vatNumber"     type="BelgianVatNumberType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════════════════════════════════════════════════
       PLANNING → CRM (CRM verwacht deze exacte naam)
       Contract 11 — planning.session.updated → CRM
  ══════════════════════════════════════════════════════════════════ -->

  <xs:element name="SessionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"   type="xs:string"/>
        <xs:element name="sessionName" type="xs:string"/>
        <xs:element name="newTime"     type="ISO8601DateTimeType" minOccurs="0"/>
        <xs:element name="newLocation" type="xs:string"           minOccurs="0"/>
        <xs:element name="changeType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="rescheduled"/>
              <xs:enumeration value="cancelled"/>
              <xs:enumeration value="updated"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

